## Analysis of an E-commerce Dataset Part 2

The goal of the second analysis task is to train linear regression models to predict users' ratings towards items. This involves a standard Data Science workflow: exploring data, building models, making predictions, and evaluating results. In this task, we will explore the impacts of feature selections and different sizes of training/testing data on the model performance. We will use another cleaned combined e-commerce sub-dataset that **is different from** the one in “Analysis of an E-commerce Dataset” task 1.

### Import Cleaned E-commerce Dataset
The csv file named 'cleaned_ecommerce_dataset.csv' is provided. You may need to use the Pandas method, i.e., `read_csv`, for reading it. After that, please print out its total length.

In [1]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
table = pd.read_csv('cleaned_ecommerce_dataset.csv')
table.head()

,userId,timestamp,review,item,rating,helpfulness,gender,category,item_id,item_price,user_city
0,4081,71900,Not always McCrap,McDonald's,4.0,3.0,M,Restaurants & Gourmet,41,30.74,4
1,4081,72000,I dropped the chalupa even before he told me to,Taco Bell,1.0,4.0,M,Restaurants & Gourmet,74,108.30,4
2,4081,72000,The Wonderful World of Wendy,Wendy's,5.0,4.0,M,Restaurants & Gourmet,84,69.00,4
3,4081,100399,They actually did it,"South Park: Bigger, Longer & Uncut",5.0,3.0,M,Movies,68,143.11,4
4,4081,100399,Hey! Gimme some pie!,American Pie,3.0,3.0,M,Movies,6,117.89,4

In [3]:
table.shape

(2685, 11)

### Explore the Dataset

* Use the methods, i.e., `head()` and `info()`, to have a rough picture about the data, e.g., how many columns, and the data types of each column.
* As our goal is to predict ratings given other columns, please get the correlations between helpfulness/gender/category/review and rating by using the `corr()` method.

  Hints: To get the correlations between different features, you may need to first convert the categorical features (i.e., gender, category and review) into numerial values. For doing this, you may need to import `OrdinalEncoder` from `sklearn.preprocessing` (refer to the useful exmaples [here](https://pbpython.com/categorical-encoding.html))
* Please provide ___necessary explanations/analysis___ on the correlations, and figure out which are the ___most___ and ___least___ corrleated features regarding rating. Try to ___discuss___ how the correlation will affect the final prediction results, if we use these features to train a regression model for rating prediction. In what follows, we will conduct experiments to verify your hypothesis.

In [4]:
table.head()

,userId,timestamp,review,item,rating,helpfulness,gender,category,item_id,item_price,user_city
0,4081,71900,Not always McCrap,McDonald's,4.0,3.0,M,Restaurants & Gourmet,41,30.74,4
1,4081,72000,I dropped the chalupa even before he told me to,Taco Bell,1.0,4.0,M,Restaurants & Gourmet,74,108.30,4
2,4081,72000,The Wonderful World of Wendy,Wendy's,5.0,4.0,M,Restaurants & Gourmet,84,69.00,4
3,4081,100399,They actually did it,"South Park: Bigger, Longer & Uncut",5.0,3.0,M,Movies,68,143.11,4
4,4081,100399,Hey! Gimme some pie!,American Pie,3.0,3.0,M,Movies,6,117.89,4

In [5]:
table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2685 entries, 0 to 2684
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   userId       2685 non-null   int64
 1   timestamp    2685 non-null   int64
 2   review       2685 non-null   object
 3   item         2685 non-null   object
 4   rating       2685 non-null   float64
 5   helpfulness  2685 non-null   float64
 6   gender       2685 non-null   object
 7   category     2685 non-null   object
 8   item_id      2685 non-null   int64
 9   item_price   2685 non-null   float64
 10  user_city    2685 non-null   int64
dtypes: float64(3), int64(4), object(4)
memory usage: 230.9+ KB

In [6]:
from sklearn.preprocessing import OrdinalEncoder

In [7]:
#Create an instance of OrdinalEncoder
encoder = OrdinalEncoder()

In [8]:

table[['gender', 'category', 'review']] = encoder.fit_transform(
    table[['gender', 'category', 'review']]
)

In [9]:
table1 = table[['helpfulness', 'gender', 'category', 'review', 'rating']]
table1.corr()

             helpfulness    gender  category    review    rating
helpfulness     1.000000  0.075947 -0.013408 -0.028259 -0.007523
gender          0.075947  1.000000  0.022549 -0.037884 -0.034337
category       -0.013408  0.022549  1.000000  0.001970 -0.163158
review         -0.028259 -0.037884  0.001970  1.000000 -0.036118
rating         -0.007523 -0.034337 -0.163158 -0.036118  1.000000

 Explanation and Analysis
* Positive value of correlation close to 1 represent a strong positive relationship with ratings
* Negative value of correlation close to -1 represent a strong negative relationship with ratings
* Value of correlation close to 0 represent weaker relationships
* The most correlated feature regarding rating is rating and the least is category

### Split Training and Testing Data
* Machine learning models are trained to help make predictions for the future. Normally, we need to randomly split the dataset into training and testing sets, where we use the training set to train the model, and then leverage the well-trained model to make predictions on the testing set.
* To further investigate whether the size of the training/testing data affects the model performance, please random split the data into training and testing sets with different sizes:
    * Case 1: training data containing 10% of the entire data;
    * Case 2: training data containing 90% of the entire data.
* Print the shape of training and testing sets in the two cases.

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

In [11]:
# Case 1: Training data contains 10% of the entire data
X_train1, X_test1 = train_test_split(table, test_size=0.9, random_state=42)
print(X_train1.shape)
print(X_test1.shape)

(268, 11)
(2417, 11)

In [12]:
# Case 2: Training data contains 90% of the entire data
X_train2, X_test2 = train_test_split(table, test_size=0.1, random_state=42)
print(X_train2.shape)
print(X_test2.shape)

(2416, 11)
(269, 11)

### Train Linear Regression Models with Feature Selection under Cases 1 & 2
* When training a machine learning model for prediction, we may need to select the most important/correlated input features for more accurate results.
* To investigate whether feature selection affects the model performance, please select two most correlated features and two least correlated features from helpfulness/gender/category/review regarding rating, respectively.
* Train four linear regression models by following the conditions:
    - (model-a) using the training/testing data in case 1 with two most correlated input features
    - (model-b) using the training/testing data in case 1 with two least correlated input features
    - (model-c) using the training/testing data in case 2 with two most correlated input features
    - (model-d) using the training/testing data in case 2 with two least correlated input features
* By doing this, we can verify the impacts of the size of traing/testing data on the model performance via comparing model-a and model-c (or model-b and model-d); meanwhile the impacts of feature selection can be validated via comparing model-a and model-b (or model-c and model-d).

In [17]:
# one-hot encoding
table_encoded = pd.get_dummies(table)

In [19]:
correlations = table_encoded.corr()['rating'].drop('rating')

In [20]:
# Select two most correlated and two least correlated features
most_correlated_features = correlations.abs().nlargest(2).index
least_correlated_features = correlations.abs().nsmallest(2).index

In [22]:
# Splitting data for model A and model B (case 1)
X_case1 = table_encoded[most_correlated_features]
X_train1, X_test1, y_train1, y_test1 = train_test_split(X_case1, table_encoded['rating'], test_size=0.2, random_state=42)

In [23]:
# Splitting data for model C and model D (case 2)
X_case2 = table_encoded[least_correlated_features]
X_train2, X_test2, y_train2, y_test2 = train_test_split(X_case2, table_encoded['rating'], test_size=0.2, random_state=42)

In [25]:
# Define function for training and evaluating models
def train_and_evaluate(X_train, X_test, y_train, y_test):
    model = LinearRegression()
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    mse = mean_squared_error(y_test, y_pred)
    return mse

In [26]:
mse_model_a = train_and_evaluate(X_train1, X_test1, y_train1, y_test1)
mse_model_b = train_and_evaluate(X_train1, X_test1, y_train1, y_test1)
mse_model_c = train_and_evaluate(X_train2, X_test2, y_train2, y_test2)
mse_model_d = train_and_evaluate(X_train2, X_test2, y_train2, y_test2)

In [27]:
print("MSE for Model A:", mse_model_a)
print("MSE for Model B:", mse_model_b)
print("MSE for Model C:", mse_model_c)
print("MSE for Model D:", mse_model_d)

MSE for Model A: 1.561873119876995
MSE for Model B: 1.561873119876995
MSE for Model C: 1.7632265029197551
MSE for Model D: 1.7632265029197551

### Evaluate Models
* Evaluate the performance of the four models with two metrics, including MSE and Root MSE
* Print the results of the four models regarding the two metrics

### Visualize, Compare and Analyze the Results
* Visulize the results, and perform ___insightful analysis___ on the obtained results. For better visualization, you may need to carefully set the scale for the y-axis.
* Normally, the model trained with most correlated features and more training data will get better results. Do you obtain the similar observations? If not, please ___explain the possible reasons___.

### Data Science Ethics
*Please read the following examples [Click here to read the example_1.](https://www.vox.com/covid-19-coronavirus-us-response-trump/2020/5/18/21262265/georgia-covid-19-cases-declining-reopening) [Click here to read the example_2.](https://viborc.com/ethics-and-ethical-data-visualization-a-complete-guide/)

*Then view the picture ![My Image](figure_portfolio2.png "This is my image")
Please compose an analysis of 100-200 words that evaluates potential ethical concerns associated with the infographic, detailing the reasons behind these issues.